<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{GameName}} Web Interface</title>
    <script type="text/javascript">
        var ws = new WebSocket( "ws://{{ host }}:{{ webPort }}/websocket/Game/{{ gameName }}" );
        ws.onmessage = function (evt) {
            /* the server send a dictionary (JSON) with information about the game */
            var data = JSON.parse(evt.data);
            for(var el in data)
            {
                document.getElementById('div_'+el).innerHTML = data[el];
            }
            ws.send('OK')
        };
    </script>
</head>
<body>
Game {{ gameName }} : {{ player1 }} Vs {{ player2 }}
<br/>

<div id="div_labycontent">
    no labyrinth data received
</div>
Energy=<div id="div_energy"></div>

<br/>

<hr>
<!--suppress HtmlUnknownTarget -->
<a href="/index.html">Back to front page</a><br/>
</body>
</html>