<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create a new tournament</title>
</head>
<body>


    <form action="create_new_tournament" method="POST">
        <label>
            Name: <input name="name" type="text"/>
        </label>
        <br>
        <label>
            Nb max players (0 for no limit): <input name="nbMaxPlayers" type="number"/>
        </label>
        <label>
            Nb rounds:
            <select name="rounds">
                <option value="1">1 (who starts is random)</option>
                <option value="2">2 (both starts)</option>
                <option value="3">3 (only 2 if equality)</option>
            </select>
        </label>
        <label>
            Mode: {{ HTMLmode }}
        </label>

		<button name="send">Create Tournament</button>

	</form>
</body>
</html>