<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create a new tournament</title>
    <script type="text/javascript">
        function updateModeForm(sel)
        {
            {{ JavascriptModeOptions }}
             var mode = sel.value;
             document.getElementById(mode).style.display="block";
        }
        window.onload = updateModeForm;
    </script>

</head>
<body>

    <form action="create_new_tournament" method="POST">
        <label>
            Name:
            <input name="name" type="text" required/>
        </label>
        <br/>
        <label>
            Nb max players (0 for no limit):
            <input name="nbMaxPlayers" type="number" value="0"/>
        </label>
        <br/>
        Nb rounds:
        <label>
            <select name="rounds">
                <option value="1">1 (who starts is random)</option>
                <option value="2">2 (both starts)</option>
                <option value="3" selected>3 (only 2 games if equality)</option>
            </select>
        </label>

        <fieldset>
            <legend>Tournament mode</legend>
            <label>
            Mode: <select name='mode' onchange='updateModeForm(this);'>{{ HTMLmodes }}</select>
            </label>
            {{ HTMLmodeOptions }}
        </fieldset>

		<button name="send">Create Tournament</button>

	</form>

</body>
</html>