<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournament</title>
</head>
<body>
Tournament {{t.name}}
<hr/>
Parameters:
<ul>
    <li>nb Max Players = {{t.nbMaxPlayers}}</li>
    <li>nb rounds for victory = {{t.nbRounds4Victory}}</li>
    <li>mode = {{t.mode}}</li>
</ul>
<hr/>
{{ t.players | length }} players are registred:
<ul>
    {% for player in t.players %}
        <li>{{ player.HTMLrepr() }}</li>
    {% endfor %}
</ul>
{% if t.isRunning %}
    {{ t.phase }}:<br/>
    {{ t.HTMLlistOfGames() }}
{% endif %}
    <form action="/run_tournament/{{t.name}}" method="POST">
    <button name="send" {% if t.isRunningPhase %} disabled {% else %} enabled {% endif %}>Run Phase !!</button>
    </form>

<hr/>
{{ t.HTMLscore() }}

</body>
</html>