<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournament</title>
</head>
<body>
Tournament {{t.name}}
<hr/>
Parameters:
<ul>
    <li>nb Max Players = {{t.nbMaxPlayers}}</li>
    <li>nb rounds = {{t.rounds}}</li>
    <li>mode = {{t.mode}}</li>
</ul>
<hr/>
{{ t.players | length }} are registred:
<ul>
    {% for player in t.players %}
        <li>{{ player.HTMLrepr() }}</li>
    {% endfor %}
</ul>
{% if not t.isRunning %}
    <form action="run_tournament/{{t.name}}" method="POST">
    <button name="send">Run Tournament !!</button>
    </form>
{% else %}
    {% for p1,p2 in t.games.keys() %}
    {{ p1.HTMLrepr() }} vs {{ p2.HTMLrepr() }}
    {% endfor %}
{% endif %}
</body>
</html>